@{
    ViewData["Title"] = "Access Denied";
}

<div class="access-denied-container">
    <h2 class="access-denied-title">Access Denied</h2>
    <p>You do not have permission to view this page.</p>
    <a href="/Account/Login" class="btn btn-primary">Go to Login</a>
</div>